.drivers--page__container {
  width: 100%;
}
.drivers--page__img--banner {
  height: 80px;
  width: 80%;
  margin: auto;
  object-fit: contain;
  opacity: 0.2;
  background-image: url('https://t4.ftcdn.net/jpg/03/76/12/17/360_F_376121740_3BmJiey5HE4fniakNIo4g61KL4TeLjnE.jpg');
}

.drivers--page__f1--drivers {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
